<!-- TODO: replace the contents of this file with your own html -->

<!--div x-mojo-element="FilterField" id="searchField"></div-->

<div class="palm-text-wrapper main">
	<div class="palm-body-text">
		<style type="text/css" id="dict-style"></style>
		<div class="dict" id="dict-data"></div>
	</div>
</div>

<div class="filter-field-container filter-field-container-height">
	<div class="filter-field-wrapper">
		<div class="mag-glass-icon"></div>
		<!--div id="_countDivContainer" class="results-count-container">
			<div class="results-count-wrapper">
				<div id="_countDiv" class="results-count"></div>
			</div>
		</div>
		<div id="_filterspinner" x-mojo-element="Spinner" class="filter-field-activity-spinner"></div-->
		<div class="search-term">
			<input type="text" id="searchInput" x-mojo-consumes-enter="false"
				placeholder="type to search" x-palm-disable-ste-all="true" >
			</input>
		</div>
	</div>
</div>
