<!-- TODO: replace the contents of this file with your own html -->

<!--div x-mojo-element="FilterField" id="searchField"></div-->
<div class="filter-field-container filter-field-container-height">
	<div class="filter-field-wrapper">
		<div class="mag-glass-icon"></div>
		<div class="results-count-container">
			<div class="results-count-wrapper">
				<div x-mojo-element="ListSelector" id="dict-selector"></div> 
			</div>
		</div>
		<div class="search-term">
			<input type="text" id="search-input" x-mojo-consumes-enter="false"
				placeholder="type to look up" x-palm-disable-ste-all="true" >
			</input>
		</div>
	</div>
</div>

<div class="palm-filterfield-spacer filter-field-container-height"></div>

<div class="palm-text-wrapper">
<div x-mojo-element="Scroller" id="swipe-scroller">
	<div class="swipe-container">
	
		<div class="palm-body-text swipe-item" id="swipe-left">
			<div name="dict">
				left
			</div>
		</div>
		<div class="palm-body-text swipe-item" id="swipe-main">
			<div name="dict">
				<style type="text/css" scoped="true" id="dict-style"></style>
				<div class="dict" id="dict-main"></div>
				<div class="dict" id="dict-refer"></div>
			</div>
		</div>
		<div class="palm-body-text swipe-item" id="swipe-right">
			<div name="dict">
				right
			</div>
		</div>

	</div>
</div>
</div>

