/* TODO: put your application-specific CSS here */

.palm-text-wrapper {
	font-size: 18px;
	padding: 10px 10px 0 10px;
}
.filter-field-container .results-count-container {
	max-width: 100px;
}
#dict-selector {
	font-size: 14px;
	height: 28px;
	margin: -18px -6px 0 -6px;
	padding: 8px 5px 0 5px
}
.filter-field-container .search-term {
  bottom: -2px;
}
#search-input {
	font-size: inherit;
	color: inherit;
	background: inherit;
	border: none;
/*	border-bottom-style: dotted;
	border-bottom-width: thin;
	border-bottom-color: DarkGray; */
	width: 98%;
}

::-webkit-input-placeholder {
	font-style: italic;
	color: gray;
}


