/* TODO: put your application-specific CSS here */

.palm-body-text {
	font-size: 20px;
}
.filter-field-container .results-count-container {
	/*-webkit-border-image: url(../images/window-indicator.png) 16 6 16 6 repeat repeat;*/
}
#dict-selector {
	font-size: 14px;
	text-align: center;
	margin-top: -10px;
}
.filter-field-container .search-term {
  bottom: -2px;
}
#searchInput {
	font-size: inherit;
	color: inherit;
	background: inherit;
	border: none;
/*	border-bottom-style: dotted;
	border-bottom-width: thin;
	border-bottom-color: DarkGray;
/*	width: 98%;*/
}

/*.filter-field-container .dict-selector {
  height: 24px;
  border-width: 11px;
  -webkit-border-image: url(../images/filter-field-pill.png) 11 11 11 11 repeat repeat;
  -webkit-box-sizing: border-box;
  float: right;
  text-align: center;
  margin: 0px -15px -5px 0px;
  min-width: 23px;
  position: absolute;
  right: 0;
  bottom: 0;
}*/

::-webkit-input-placeholder {
	font-style: italic;
	color: gray;
}


/* default dictionary styles */
.dict /* dict data common */ { }
.word /* word it self */ {	display: inline; font-weight: bold; margin-right: .4em; }
.pron /* pronunciation */ {	display: inline; color: green; font-size: 95%; }
.expl .part /* part of speech */ { display: inline; color: brown; font-size: smaller; margin-right: .4em; }
.expl .glos /* glossary */ { display: inline; color: gray; font-size: smaller; }
.sent /* sentence */ { font-size: 90%; margin-top: 0.4em; }

